/*? Bootstrap icons ?*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  background-color: rgb(59, 59, 59);
}

.logo {
  font-size: 30px;
  font-weight: 900;
  color: red;
  letter-spacing: 4px;
  text-shadow: 4px 4px black;
}

h2 > span {
  font-size: 35px;
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 6px 10px;
  margin: 50px;
}

.country-img {
  height: 30px;
  width: 50px;
}

.card-img-overlay {
  display: none;
}

.card:hover .card-img-overlay {
  display: block;
  background-color: black;
  opacity: 0.8;
}
