/*? Bootstrap icons ?*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  background-color: rgb(59, 59, 59);
}

.country-img {
  height: 30px;
  width: 50px;
}

.card-img-overlay {
  display: none;
}

.card:hover .card-img-overlay {
  display: block;
  background-color: black;
  opacity: 0.8;
}
